// Color cube 

$white: #ffffff;
$bay-of-many: #224184;
$silver: #bcbcbc;
$cod-gray: #1b1b1b;
$tulip: #efab43;
$boulder: #797979;
$cerulean: #029fcc;
$thunderbird: #d71f18;
$malibu: #69a0fd;
$walnut: #784619;

// Median cut

$bluewood: #374a5e;
$hint-of-red: #f4f0ef;
$tussock: #cc9f4c;
$tower-gray: #a3b8be;
$matrix: #a65d50;

// Material design 

$tussock-vibrant: #c2944f;
$dusty-gray: #9a9898;
$dark-vibrant: #22437d;
$smalt-blue: #4f7f85;
$ice-cold: #b1e4f4;

